{% extends 'frontend/base.html' %}
{% block title %} About {% endblock %}
{% block content %}
<html>
<body style="background-color:black;">
<font color="white">
<div class="container">
<div class="media">
    <div class="media-body justify-content-center" style="margin-top:80px;">
      <h2 class="mt-0 mb-1">About</h2>
        <div style="text-indent:13%; font-size:20;">Thailand is one of the most popular travel destinations in the world - Twenty years ago it was considered 'daring' to travel to Thailand.
         Times have certainly changed. From the majestic five-star hotels in Bangkok to simple beach huts in Koh Samui or Koh Samet, accommodation choices are many.
          From the stunning plains and hills of the Golden Triangle to the wave-lapped white sand beaches of Phuket, Samui and Krabi, the kingdom radiates beauty.
         Thailand has so much to offer that one visit is never enough – you'll want to come back and discover more time after time.</div>
        <div style="text-indent:13%; font-size:20;"></div>
    </div>
    
    <img src="static/image/15.jpg" class="ml-3 d-block w-50" alt="...">
</div>


<div class="card-deck" style="margin-top:20px;">
    <div class="card text-white bg-dark mb-3" >
      <div class="row no-gutters">
        <div class="col-md-4"><br>
          <img src="static/image/14.jpg" class="card-img d-block w-100" alt="...">
          <img src="static/image/14.jpg" class="card-img d-block w-100" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">Reasons Why We Love Thailand</h4>
            <p class="card-text" style="text-indent:13%; font-size:17;"> Thailand is one of our favourite countries in the world and here’s our list of 10 reasons why we love it so much. 
            Compiled by a disparate bunch of expats with more than a lifetime of experience in the country, 
            we’re shamelessly beating the drum to tell you a few of the reasons why we have such an affinity with Thailand,
             its people, its culture and why each of us decided to not go home again.The glorious food! Thai culture revolves around mealtimes, 
             with friends and family coming together over luscious curries, spicy Thai salads, fresh seafood and, of course, 
             the ubiquitous steamed rice.Picture-postcard scenes of soft sandy coves of golden sand, 
             turquoise ocean and crisp blue skies is a formula that has kept people coming back again and again.You'll also probably see first-hand the sociable, generous nature of Thai culture.
              Any excuse for a laugh and a bit of fun and most Thais will usually be game </p>
            <p class="card-text"><small class="text-muted">By Paul Smith <br>Compulsive Traveller<br>
                hotels.com</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
</font>
</body>
</html>